* {
    box-sizing: border-box;
}

:root {
    --primar-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: #171100;
    border-radius: 999px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 6.8rem; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 4.8rem; /* 126.316% */
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    align-items: center;
    display: flex;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 114px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    background: #fffcf4;
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

/* Hero left */
.hero .media-block .img {
    width: 470px;
    height: 685px;
    border: 20px;
    object-fit: cover;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    box-shadow: 0px 16px 32px 0px #0000000d;
    background: #ffffff;
    border-radius: 12px;
}

.hero-summary .items {
    display: flex;
    align-items: center;
}

.hero-summary .items + .items {
    margin-top: 14px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero-summary .items:nth-child(2) .icon {
    background: #fcefff;
}

.hero-summary .items:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% or 1.86*/
    color: #5f5b53;
}

.hero-summary .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% or 1.67 */
    color: #171100;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
    color: #5f5b53;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primar-color);
}

.hero .watch-video {
    background: transparent;
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    box-shadow: 0px 8px 16px 0px #00000012;
    background: #fff;
    border-radius: 50%;
}

.hero .watch-video span {
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
    color: #171100;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; /* 122.727% */
    color: #171100;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
    color: #5f5b53;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between; /* có thể dùng cách thứ hai là margin-left: auto */
}

.popular-top .control-btn {
    border: 1px solid var(--primar-color);
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primar-color);
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn:hover {
    background: var(--primar-color);
    color: #fff;
    cursor: pointer;
}

/* Course list */
.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    border-radius: 12px 12px 0 0;
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a,
.popular .course-item .price {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    background: var(--primar-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
}

.feedback-item .info .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    background: #634700;
    cursor: pointer;
}

.feedback-item .info .dot.active {
    background: var(--primar-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%; /* 770/1170*100 */
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 4rem; /* 153.846% */
}

/* Feature-1 */
.feature {
    margin-top: 135px;
    padding: 65px 0;
}

.feature .body {
    display: flex;
    justify-content: space-between;
}

.feature .image {
    display: flex;
    gap: 0 30px;
}

.feature .image img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.feature img.lower {
    margin-top: 34px;
}

.feature .content {
    width: 41%; /* 1170/470 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.feature .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primar-color);
    color: #fff;
}

/* Feature-2nd */
.feature-2nd {
    margin-top: 70px;
}

.feature-2nd .body {
    flex-direction: row-reverse;
}

.feature-2nd .content {
    width: 49%;
}

.feature-2nd .image img {
    width: 470px;
    height: 440px;
}

.blog {
    margin-top: 135px;
    padding: 90px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #fff;
    border-radius: 16px;
}

.blog .item .thumb {
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 250px;
    object-fit: cover;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
    padding-bottom: 12px;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primar-color);
    margin-right: 4px;
}

.blog .item .date::after {
    position: absolute;
    left: -27;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    width: 160px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.blog .item .btn:hover {
    background: var(--primar-color);
}

.blog .item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primar-color);
    cursor: default;
}

/* Footer */
.footer {
    background: #2e2100;
    padding: 96px 135px 0;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%; /* (100%-65%) / 3 */
}

.footer .row .column:first-child {
    width: 35%; /* 412/1170 (412 là khoảng cách từ đầu cạnh cột thứ 1 đến đầu cạnh cột thứ 2 */
}

.footer .desc {
    margin-top: 18px;
    width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.footer .socials {
    margin-top: 18px;
}

.footer .icon {
    margin-right: 18px;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.footer .list {
    margin-top: 48px;
}

.footer .list a {
    color: #bfbcb2;
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #fff;
}

.footer .copyright {
    padding: 28px 0;
    text-align: center;
    color: #807d74;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}
